#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa59;
  padding: 14px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: -10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#friends-display-link i {
  color: var(--grey-color);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__type {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__type-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

#splash-screen img:first-child {
  transform: translateY(-800px);
  width: 30%;
  animation: slide-in-top 0.2s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img:nth-child(2) {
  transform: translateY(800px);
  animation: slide-in-bottom 0.2s ease-in-out forwards;
  animation-delay: 0.5s;
}
