.welcome-header {
  margin: 90px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 90%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  background-color: transparent;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--blue);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login__block {
  position: absolute;
  width: 5%;
  height: 60px;
  background-color: var(--yellow);
}

.login__block:first-child {
  left: 0;
  z-index: 4;
}

.login__block:nth-child(2) {
  right: 0;
  z-index: 4;
}

.login--background {
  width: 90%;
  height: 60px;
  position: absolute;
  left: -100%;
  animation: cloudAnimation 5s linear infinite;
}

@keyframes cloudAnimation {
  from {
    transform: none;
  }
  to {
    transform: translateX(250%);
  }
}

#login-form input[type="submit"] {
  opacity: 0;
  position: absolute;
  width: 90%;
  height: 60px;
  top: 413px;
  z-index: 6;
  cursor: pointer;
}

.login a {
  width: 90%;
}

.login__login {
  background-color: var(--blue);
  padding: 30px 0px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}

.login__login span {
  z-index: 5;
  font-size: 17px;
  color: rgb(0, 0, 109);
}

.login__sign-up {
  margin-top: 30px;
}

.login__sign-up:hover {
  text-decoration: underline;
}

.login a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.welcome-main {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.welcome-main img {
  z-index: 5;
}
